.media{
    display: flex;
    flex-direction: column;
    width:200px;
    padding:5px;
    margin: 5px 0;
    position: relative;
    border-radius: 10px;
    font-family:'Montserrat', sans-serif;

    background-color: #000;

    transition: all .3s linear;
    
}

.media:hover{
    background-color: #ffffff;
    color:#000;
}

@media(max-width:550px){
    .media{
        width: 46%;
    }
}

.poster{
    border-radius: 10px;
}

.title{
    width:100%;
    text-align: center;
    font-size: 17px;
    padding: 8px auto;
}
.sunTitle{
    display: flex;
    justify-content: space-between;
    padding:0 2px;
    padding-bottom: 3px;
}
